## Import Libraries

In [1]:
import pandas as pd

## Data Preparation

In [2]:
LoandData = pd.read_csv('01. income.csv')
LoandData.head()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,income_level
0,39,77516,13,2174,0,40,0
1,50,83311,13,0,0,13,0
2,38,215646,9,0,0,40,0
3,53,234721,7,0,0,40,0
4,28,338409,13,0,0,40,0

## Separating predictors and response

In [3]:
x = LoandData.iloc[:,0:6]
x.head()

   age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0   39   77516             13          2174             0              40
1   50   83311             13             0             0              13
2   38  215646              9             0             0              40
3   53  234721              7             0             0              40
4   28  338409             13             0             0              40

In [11]:
y = LoandData.iloc[:,6]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: income_level, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.25)
                                        # 75% training and 25% test

## Model training and evaluation

In [13]:
from sklearn.ensemble import AdaBoostClassifier

AdaModel = AdaBoostClassifier(n_estimators=100,
                              learning_rate=1)

In [14]:
model = AdaModel.fit(xtrain,ytrain)

# Predict the response for test dataset
y_pred = model.predict(xtest)

In [15]:
from sklearn import metrics

In [16]:
# Model accuracy
print("Accuracy:", metrics.accuracy_score(ytest, y_pred))

Accuracy: 0.83940709196626

In [20]:
test = model.predict([[28,338409,13,0,0,40]])

Rest for testing:  [0]

c:\Users\Anas\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but AdaBoostClassifier was fitted with feature names
  warnings.warn(

In [21]:
print("Rest for testing: ",test)

Rest for testing:  [0]