0. Variables

In [3]:
space_name = "Alien's Hunter"
print(space_name)

Alien's Hunter

In [4]:
type(space_name)

str

In [7]:
space_number = 135.790
print(space_number)

135.79

In [8]:
type(space_number)

float

1. Data Types

In [13]:
# this is declaring a variable as a string
string_variable = "Pluto"
print(string_variable)

Pluto

In [14]:
type(string_variable)

str

In [15]:
# this is declaring a variable as a intiger
intiger_variable = 24680
print(intiger_variable)

24680

In [16]:
type(intiger_variable)

int

In [18]:
sum_inti = intiger_variable + 10
print(sum_inti)

24690

In [19]:
# this is declaring a variable as a float
flot_variable = 1470.28
print(flot_variable)

1470.28

In [20]:
type(flot_variable)

float

In [27]:
# this is declaring a variable as a boolean variable
bool_variable = bool(0)
# bool(0) = False & bool(1) = True
print(bool_variable)

False

In [28]:
type(bool_variable)

bool

In [3]:
# this is creating a list variable
list_varible = [1,2,3,123.44,85.4,22.1,1,2,3]

In [8]:
add_value = list_varible[5] = 20
print("add to list: ",add_value)
print(list_varible)

add to list:  20
[1, 2, 3, 123.44, 85.4, 20, 1, 2, 3]

In [31]:
type(list_varible)

list

In [52]:
# Creat a TUPLE variable, IMMUTABLE
tuple_variable = (1,2,3,123.44,85.4,22.1,2)

In [56]:
# 'tuple' object does not support item assignment
# can't change and add values...
tuple_variable[3]

123.44

In [34]:
type(tuple_variable)

tuple

In [47]:
# This is creating a SET variable
set_variable = {1,2,3,123.44,85.4,22.1,1,2,3}

In [51]:
# 'set' object is not subscriptable
# can't change and add values...
# Delete duplicate values...
set_variable

{1, 2, 3, 22.1, 85.4, 123.44}

In [45]:
type(set_variable)

set

In [61]:
# list to set delete duplicate again list
list(set(list_varible))

[1, 2, 3, 85.4, 22.1, 123.44]

In [62]:
type(list(set(list_varible)))

list

In [68]:
# Create a dictionary variable...
dict_variable = {"Name": "Anas", "Favourite_color": "Red", "Favourite_number": 8}

In [70]:
dict_variable

{'Name': 'Anas', 'Favourite_color': 'Red', 'Favourite_number': 8}

In [71]:
type(dict_variable)

dict

In [75]:
print(dict_variable["Name"])
print(dict_variable["Favourite_color"])

Anas
Red

In [76]:
# Type casting...
tuple(list_varible)

(1, 2, 3, 123.44, 85.4, 22.1, 1, 2, 3)

In [77]:
# Type casting...
list(set_variable)

[1, 2, 3, 85.4, 22.1, 123.44]

In [78]:
# Type casting...
set(list_varible)

{1, 2, 3, 22.1, 85.4, 123.44}